.sendPost {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  width: fit-content;
  height: fit-content;
  button {
    background-color: rgb(55, 94, 144);
    color: white;
  }
  .textFields {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 60vw;
    min-width: 250px;
    input {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    textarea {
      font-size: 2rem;
    }
  }
  .urlPost {
    display: flex;
    min-width: 250px;

    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    input {
      font-size: 2rem;
      width: 40vw;
      min-width: 150px;
      margin-bottom: 0.5rem;
    }
  }
}
.deleteBtn {
  background-color: rgb(231, 3, 3);
  color: white;
  padding: 0.5rem;
}
.logOutBtn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: rgb(222, 49, 49);
  color: white;
}
.postsContainer {
  margin-top: 40vh;
  .post {
    background-color: white;
    padding: 1rem;
    margin: 0 auto;
    width: 500px;
    min-height: 300px;
    margin-bottom: 2rem;
    .postCreator {
      text-align: left;
      display: flex;
      padding-bottom: 0.5rem;
      border-bottom: 1px rgb(168, 168, 168) solid;
      .fakeImg {
        width: 3rem;
        height: 3rem;
        border-radius: 50px;
        border: blue 1px solid;
      }
      h3 {
        margin: 0.5rem;
        padding: 0;
        font-size: 1.3rem;
        font-weight: 450;
        flex: 1;
      }
    }
    .postTitle {
      margin: 0rem;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid rgb(168, 168, 180);
    }
    img {
      width: 500px;
      height: 500px;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
