.sendPost {
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  width: 60vw;
  height: 24vh;
  button {
    background-color: rgb(55, 94, 144);
    color: white;
  }
  .textFields {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    input {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    textarea {
      font-size: 2rem;
    }
  }
  .urlPost {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    input {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}
.postsContainer {
  margin-top: 40vh;
  .post {
    background-color: white;
    padding: 1rem;
    margin: 0 auto;
    width: 500px;
    min-height: 300px;
    margin-bottom: 2rem;
    .postTitle {
      margin: 0rem;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid rgb(168, 168, 180);
    }
    img {
      width: 500px;
      height: 500px;
    }
    p {
      font-size: 1.4rem;
    }
  }
}
