.postsContainer {
  margin-top: 4vh;
  .post {
    background-color: white;
    padding: 1rem;
    margin: 0 auto;
    width: 500px;
    min-height: 300px;
    margin-bottom: 2rem;
    .postCreator {
      text-align: left;
      display: flex;
      padding-bottom: 0.5rem;
      border-bottom: 1px rgb(168, 168, 168) solid;
      .fakeImg {
        width: 3rem;
        height: 3rem;
        border-radius: 50px;
        border: blue 1px solid;
      }
      h3 {
        margin: 0.5rem;
        padding: 0;
        font-size: 1.3rem;
        font-weight: 450;
        flex: 1;
      }
    }
    .postTitle {
      margin: 0rem;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid rgb(168, 168, 180);
    }
    img {
      width: 500px;
      height: 500px;
    }
    p {
      font-size: 1.4rem;
    }
    .deleteBtn {
      background-color: rgb(231, 3, 3);
      color: white;
      padding: 0.5rem;
    }
    .followBtn {
      background-color: rgb(3, 98, 231);
      color: white;
      padding: 0.5rem;
      &:hover {
        background-color: rgb(3, 82, 194);
      }
    }
  }
}
