.formContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 60vw;
  align-items: center;
  button {
    width: fit-content;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .regForm {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    justify-content: space-between;
    background-color: rgb(43, 112, 112);
    align-items: center;

    input {
      font-size: 2rem;
      margin: 1rem 1rem;
      padding: 0.5rem 1rem;
    }
  }
}
