.formContainer {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 60vw;
  .regForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: rgb(43, 112, 112);
    input {
      font-size: 2rem;
      margin: 0.5rem 1rem;
      padding: 0.5rem 1rem;
    }
  }
}
