.sendPost {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  width: fit-content;
  height: fit-content;
  button {
    background-color: rgb(55, 94, 144);
    color: white;
  }
  .textFields {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 60vw;
    min-width: 250px;
    input {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
    textarea {
      font-size: 2rem;
    }
  }
  .urlPost {
    display: flex;
    min-width: 250px;

    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    input {
      font-size: 2rem;
      width: 40vw;
      min-width: 150px;
      margin-bottom: 0.5rem;
    }
  }
}
.discoverFollow {
  margin-top: 40vh;
  min-width: 500px;
  button {
    color: black;
    width: 50%;
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  .selectedBtn {
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
  }
}

.logOutBtn {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: rgb(222, 49, 49);
  color: white;
}
